<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>
<mat-grid-list class="content" cols="2">
  <!-- <mat-grid-tile [rowspan]="5">
    <app-message-box [msgList]="eventMsgList" [title]="'事件輸出'"></app-message-box>
  </mat-grid-tile> -->

  <div class="bodyBox">
    <div class="stateBox">
      <app-state></app-state>
    </div>
    <div class="controlBox">
      <app-control-panel></app-control-panel>
    </div>
  </div>
  <div class="testsBox">
    <mat-grid-tile [colspan]="2" [rowspan]="6">
      <app-tests *ngIf="isWsInit"></app-tests>
    </mat-grid-tile>
  </div>

 </mat-grid-list>

<router-outlet></router-outlet>
